body {
  background-color: #f5f5f5;
}


/* =========================
   CUSTOM FONTS
========================= */

@font-face {
  font-family: "Tusker";
  src: url("assets/fonts/tusker.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* =========================
   DESIGN SYSTEM VARIABLES
========================= */


:root {
  /* Spacing (8px scale) */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;
  --space-8: 96px;

  /* Colours */
  --color-text: #111;
  --color-bg: #f5f5f5;

  /* Typography scale (example) */
  --text-base: 16px;
  --text-lg: 20px;
  --text-xl: 32px;
  --text-hero: 56px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: "aktiv-grotesk-extended", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}

.hero h1 {
  font-family: "Tusker", sans-serif;
  font-size: var(--text-hero);
}

.about {
  padding: var(--space-6);
  max-width: 720px;
}

.about p {
  font-size: var(--text-base);
}